<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><b>NPR's Top 10 News Stories of the Moment</b></h1>
      <p class="lead">This is a simple news scraper using Node/Express and Cheerio to bring you the latest stories from National Public Radio.</p>
      <hr class="my-4">
      <p><i>Feel free to leave a comment on articles you like or dislike. Your comments will be stored in our Mongo NoSQL database for all the world to see!</i></p>     
      <a class="btn btn-primary btn-lg" href="http://localhost:3000/website" role="button">Update NPR News</a>
    </div>  
    
    {{#each items}}
    <div class="card">
      <div class="card-body">
        <h2><a href="{{link}}">{{title}}</a></h2>      
        <p>{{summary}}</p>
        <button type="button" data-id="{{_id}}" data-title="{{title}}" class="bob-ad" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Add Comment
        </button>
      </div>
    </div>  
    <br>
    {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="comment-form">
          <textarea id="text-area" required></textarea>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var dataId = 0;
  $(".bob-ad").on("click", function() {

    var title = $(this).attr("data-title");
    dataId = $(this).attr("data-id");
    console.log("Data ID: " + dataId);
    $(".modal-title").text(title);
    
  })

  $("#comment-form").on("submit", function(event){

      event.preventDefault();
      var comment = $("#text-area").val().trim();
      console.log(comment);
      console.log("Comment data ID: " + dataId);
      // make a post request to /add-comment
  }) 

</script>